<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level1</key>
	<dict>
		<key>fishes</key>
		<array>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>0,0</string>
				</array>
				<key>image</key>
				<string>fish1_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>rect</string>
				</dict>
				<key>position</key>
				<string>1144,384</string>
				<key>count</key>
				<string>1</string>
				<key>duration</key>
				<string>10.0</string>
				<key>level</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<key>level2</key>
	<dict>
		<key>fishes</key>
		<array>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>10,150</string>
					<string>-10,100</string>
					<string>15, 40</string>
					<string>0,0</string>
				</array>
				<key>image</key>
				<string>fish1_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>rect</string>
				</dict>
				<key>position</key>
				<string>1154,384</string>
				<key>count</key>
				<string>4</string>
				<key>duration</key>
				<string>7.0</string>
				<key>level</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<key>level3</key>
	<dict>
		<key>fishes</key>
		<array>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>10,-260</string>
					<string>-60,-200</string>
					<string>35,-200</string>
					<string>15,-150</string>
				</array>
				<key>image</key>
				<string>fish2_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>rect</string>
				</dict>
				<key>position</key>
				<string>1204,384</string>
				<key>count</key>
				<string>4</string>
				<key>duration</key>
				<string>8.0</string>
				<key>level</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
	<key>level4</key>
	<dict>
		<key>fishes</key>
		<array>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>-10,60</string>
					<string>50,10</string>
					<string>-60,-60</string>
					<string>60,-70</string>
				</array>
				<key>image</key>
				<string>fish3_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>circle</string>
					<key>radius</key>
					<string>31</string>
				</dict>
				<key>position</key>
				<string>1204,384</string>
				<key>count</key>
				<string>4</string>
				<key>duration</key>
				<string>5.0</string>
				<key>level</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<key>level5</key>
	<dict>
		<key>fishes</key>
		<array>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>20,190</string>
					<string>-55,170</string>
					<string>35,130</string>
					<string>-100,120</string>
					<string>-50,80</string>
				</array>
				<key>image</key>
				<string>fish4_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>rect</string>
				</dict>
				<key>position</key>
				<string>1244,384</string>
				<key>count</key>
				<string>5</string>
				<key>duration</key>
				<string>7.0</string>
				<key>level</key>
				<string>5</string>
			</dict>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>0,-330</string>
				</array>
				<key>image</key>
				<string>fish6_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>circle</string>
					<key>radius</key>
					<string>45</string>
				</dict>
				<key>position</key>
				<string>1144,384</string>
				<key>count</key>
				<string>1</string>
				<key>duration</key>
				<string>5.0</string>
				<key>level</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<key>level6</key>
	<dict>
		<key>fishes</key>
		<array>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>-80,60</string>
					<string>0,0</string>
					<string>-130,-20</string>
					<string>90,-60</string>
					<string>-60,-70</string>
					<string>-80,-120</string>
				</array>
				<key>image</key>
				<string>fish5_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>rect</string>
				</dict>
				<key>position</key>
				<string>1254,384</string>
				<key>count</key>
				<string>6</string>
				<key>duration</key>
				<string>8.0</string>
				<key>level</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<key>level7</key>
	<dict>
		<key>fishes</key>
		<array>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>-40,170</string>
					<string>30,140</string>
				</array>
				<key>image</key>
				<string>fish3_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>circle</string>
					<key>radius</key>
					<string>31</string>
				</dict>
				<key>position</key>
				<string>1184,384</string>
				<key>count</key>
				<string>2</string>
				<key>duration</key>
				<string>7.0</string>
				<key>level</key>
				<string>7</string>
			</dict>
			<dict>
				<key>fishScales</key>
				<array>
					<string>1.0</string>
					<string>1.0</string>
					<string>1.0</string>
				</array>
				<key>fishPositions</key>
				<array>
					<string>120,-240</string>
					<string>-160,-250</string>
					<string>0,-300</string>
				</array>
				<key>image</key>
				<string>fish7_submarine.png</string>
				<key>physics</key>
				<dict>
					<key>shape</key>
					<string>rect</string>
				</dict>
				<key>position</key>
				<string>1304,384</string>
				<key>count</key>
				<string>3</string>
				<key>duration</key>
				<string>6.5</string>
				<key>level</key>
				<string>7</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
